    [Desktop Entry]
    Type=Application
    Exec=sidu-installer-control start
    Icon=sidu-installer
    Name=Installer
    GenericName=Installer
    GenericName[de]=Installer
    Categories=System;
