body {
 font-size: 12px
}
h1,h2,h3,h4 {
 border-top: 1px orange solid;
 font-size: 2em;
}
h1 { font-size: 1.5em; background: orange; }
h2 { font-size: 1.3em; }
h3 { font-size: 1.2em; }
h4 { font-size: 1.1em; }
pre { border: 1px #0f0f0f dotted; padding-left: 1em; }

