Source: sidu-installer
Section: admin
Priority: optional
Maintainer: J. Hamatoma <hama@siduction.net>
Uploaders: Ferdinand Thommes <devil@siduction.org>,
 Alf Gaida <agaida@siduction.org>,
 Ovidiu Angelescu <convbsd@siduction.net>,
Build-Depends: debhelper (>= 9)
Standards-Version: 3.9.4
Vcs-git:  git://git3@git.siduction.org:code/sidu-installer
Vcs-Browser: http://git.siduction.org/?p=code/sidu-installer.git

Package: sidu-installer
Architecture: all
Depends: ${misc:Depends}, 
	perl (>= 5.0),
	php5-cgi (>= 5.0),
	siguibui (>= 2.3),
	tzdata (>=1989),
	whois (>=1.0),
	btrfs-tools
Suggests: gparted
Description: GUI for the siduction installer
 sidu-installer provides a graphical user interface for the siduction installer.
 This installer can be started on from the live linux system to install the 
 system to a harddisk.
