Source: sidu-installer
Maintainer: J. Hamatoma <hama@siduction.net>
Uploaders: Alf Gaida <agaida@siduction.org>,
           Hendrik Lehmbruch <hendrikl@siduction.org>,
           Ferdinand Thommes <devil@siduction.org>
Section: web
Priority: extra
Build-Depends: debhelper (>= 10),
               dh-systemd,
               inkscape,
               imagemagick
Standards-Version: 3.9.8
Vcs-Browser: http://git.siduction.org/summary/base!siduction-settings.git
Vcs-Git: http://git.siduction.org/r/base/siduction-settings.git

Package: sidu-installer
Architecture: all
Depends: ${misc:Depends},
         python
Pre-Depends: fll-installer,
             sidu-base (>= 2014.11.20),
             pywwetha
Description: installer for siduction
 The main content is a set of HTML files describing features, handling
 and tips for siduction.
 A framework manages the common view of the pages: the navigation (menu),
 the header (with logo and links to other siduction sites) and the footer
 are generated for each page from a single template.
