Source: sidu-installer
Section: admin
Priority: optional
Maintainer: J. Hamatoma <hama@siduction.net>
Uploaders: Ferdinand Thommes <devil@siduction.org>,
           Alf Gaida <agaida@siduction.org>
Build-Depends: debhelper (>= 9)
Standards-Version: 3.9.3
Homepage: http://siduction.org
Vcs-git: git://git.siduction.org:packages/siduction-repository/sidu-installer
Vcs-Browser: http://git.siduction.org/?p=packages/siduction-repository/sidu-installer.git

Package: sidu-installer
Architecture: all
Depends: ${misc:Depends}, 
	python (>= 2.0),
	perl (>= 5.0),
	php5-cgi (>= 5.0),
	pywwetha (>= 0.2),
	siguibui (>= 1.3),
	tzdata (>=1989),
	whois (>=1.0),
	btrfs-tools
Suggests: gparted
Description: GUI for the siduction installer
 sidu-installer provides a graphical user interface for the siduction installer.
 This installer can be started on from the live linux system to install the 
 system to a harddisk.

