#!/usr/bin/make -f
# -*- makefile -*-

# Uncomment this to turn on verbose mode.
export DH_VERBOSE=1

%:
	dh $@ 

override_dh_auto_build:
	# hama special: the following code does not work in my environment
	# With the variable Z I can remove the code by replacing (in a script)
	# create XDG compatible icons from SVG
	for i in 16 22 32 48 64 128; do \
	   mkdir -p "icons/hicolor/$${i}x$${i}/apps" ; \
	   inkscape --export-width=$${i} \
	      --export-height=$${i} \
	      --export-png="$(CURDIR)/icons/hicolor/$${i}x$${i}/apps/sidu-installer.png" \
	      $(CURDIR)/icons/sidu-installer.svg ; \
	done

	# create XPM icons for the debian menu system
	mkdir -p icons/pixmaps
	convert icons/hicolor/32x32/apps/sidu-installer.png icons/pixmaps/sidu-installer.xpm
	convert icons/hicolor/16x16/apps/sidu-installer.png icons/pixmaps/sidu-installer-16.xpm
	dh_auto_build 
	
override_dh_auto_clean:
	rm -rf icons/pixmaps
	rm -rf icons/hicolor
	dh_auto_clean
