<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8" />
{{!piwik}}
{{META_DYNAMIC}}
<link href="/static/siduction.css" rel="stylesheet" type="text/css" />
<script src="/static/siduction.js" type="text/javascript"></script>
<title>{{!title}}</title>
</head>
<body>
<div id="main_area">
<form id="mainform" method="get" action="{{!form.url}}">
<div id="header">
		<img class="logo" src="/static/images/header-logo.png" alt="logo"/>
</div> <!-- header -->
<div id="content">
{{CONTENT}}

<div class="navigation">
<div class="next_button">{{.button.next}}</div>
<div class="prev_button">{{.button.prev}}</div>
</div>

<div>{{INFO}}</div>
</div> <!-- content -->
</form>
</div> <!-- main_area -->
</body>
</html>
